body {
  background: #101820ff;
}

a {
  text-decoration: none;
  color: white !important;
}
li,
ul,
a {
  transition: 1s ease;
  text-decoration: none;
  list-style: none;
}
.navbar {
  display: flex;
  width: 100%;
  height: 55px;
  background: #00203fff;
}
.nav-title img {
  height: 100%;
  width: 60px;
  color: white;
  margin: 0;
  padding: 10px;
}
.nav-title {
  margin-left: 3%;
  height: auto;
  font-size: 24px;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Staatliches', cursive;
  font-weight: 900;
  letter-spacing: 5px;
}
.nav-item {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  width: max-content;
  font-size: 16px;
  font-family: 'BPG GLAHO WEB CAPS';
}
.nav-item a:hover {
  transition: 1s ease;
  color: #fee715ff !important;
}
.navbar-ul {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.nav-search {
  position: relative;
  height: 100%;
  width: 230px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.nav-search input {
  border: 2px solid #195190ff;
  background: none;
  padding: 8px;
  font-family: 'BPG WEB 001';
  margin-right: auto;
  border-radius: 20px;
  outline: none !important;
  margin-right: 20px;
  padding-left: 35px;
  font-size: 14px;
  color: white;
  transition: 1s ease;
}
.nav-search svg {
  width: 15px;
  color: white;
  position: absolute;
  left: 5%;
}
::placeholder {
  font-family: 'BPG NINO MTAVRULI';
  color: white;
}
.navbar-responsive {
  display: none;
}
.navbar-responsive svg {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  transition: 1s ease;
}
.navbar-responsive svg:hover {
  transition: 1s ease;
  color: #fed700;
}
@media only screen and (max-width: 1000px) {
  .nav-item {
    display: none;
  }
  .navbar-responsive {
    display: flex;
  }
}
@media only screen and (max-width: 900px) {
  .nav-title a:nth-child(2) {
    display: none;
  }
  .nav-title img {
    display: block !important;
  }
  .nav-search {
    margin-right: 0px;
    width: max-content;
    justify-content: center;
    align-items: center;
  }
  .nav-search input {
    z-index: 1;
    transition: 1s ease;
    border: none;
    width: 20px;
  }
  .nav-search svg {
    height: 100%;
  }
  .nav-search input:hover {
    transition: 1s ease;
    width: 100px;
    border: 1px solid #195190ff;
  }
  .nav-search input:focus {
    width: 100px;
    border: 1px solid #195190ff;
  }
}

/*HIDDEN SEARCH RESULTS*/
.search-results-ul {
  top: 100%;
  width: inherit;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}
/*SINGLE RESULT*/
.hidden-search-single {
  display: flex;
  position: relative;
  width: 100%;
  height: 120px;
  background: #00203fff;
  border: 1px solid #195190ff;
  transition: 1s ease;
  /*ამას დისპლეი ნონე დაუყენე რო გაქრეს*/
}
.hidden-search-single:hover {
  transition: 1s ease;
  background: #195190ff;
}
.hidden-img {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.hidden-img img {
  width: 70px;
  height: 100px;
  object-fit: cover;
}
.hidden-properties {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.hidden-properties span {
  font-family: 'BPG Arial';
  color: white;
  font-weight: bold;
}
.hidden-properties p {
  margin-top: 30%;
  font-size: 15px;
}
